.preloader-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.8); /* Dark background */
  z-index: 9999;
}

.spinner {
  width: 80px;
  height: 80px;
  background-image: url("../../../assets/big-earth.png"); /* Put your image path here */
  background-size: cover;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
